@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

*, :after, :before {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

body {
  font-family: Roboto, sans-serif;
  color: #fff;
  background: #343539
}

.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh
}

.page__wrapper {
  width: 100%;
  max-width: 1920px
}

.page__inner {
  max-width: 728px;
  padding: 1rem
}

.page__title {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 68px
}

.form-wrapper {
  max-width: 356px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}

.form-fields--row {
  display: flex;
  align-items: center
}

.form-fields--col {
  display: flex;
  flex-direction: column
}

.form-fields__title {
  font-size: 24px;
  line-height: 30px;
  margin: 1rem 0 0
}

.form-fields__title, .form-fields__title-number {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 700
}

.form-fields__title-number {
  justify-content: center;
  width: 24px;
  height: 24px;
  background: #ef483e;
  margin: 0 .5rem 0 0;
  text-align: center;
  border-radius: 50%;
  font-size: 16px;
  line-height: 20px
}

.form-fields__label {
  width: 100%;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0 .5rem 0 0
}

.form-fields__label-text {
  margin: 1rem 0 .5rem
}

.fields-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fields__label {
  font-size: 13px;
  line-height: 16px
}

.fields__label, .fields__label-text {
  margin: 1rem 0 .5rem
}

.form-fields__input {
  width: 100%;
  height: 44px;
  border-radius: 0;
  padding: 0 0 0 .5rem;
  outline: none;
  border: 0;
  overflow: hidden
}

.form-fields__input--max-width {
  max-width: 172px;
  outline: none;
  border: 0
}

.form-fields__select {
  max-width: 100%;
  font-size: 16px;
  width: 100%;
  height: 44px;
  cursor: url(./hand-kursor.svg), auto;
  padding: 0 1rem 0 .5rem;
  color: #000
}

.custom-select {
  position: relative
}

.custom-select select {
  display: none;
}

.select-selected {
  max-width: 172px;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  color: #000 !important;
  background: #fff;
  cursor: url(./hand-kursor.svg), auto;
  height: 44px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 15px;
  line-height: 18px;
}

.select-selected:after {
  position: absolute;
  right: 1rem;
  top: 1rem;
  content: "";
  width: 8px;
  height: 8px;
  white-space: nowrap;
  border: solid #000;
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transition: all .5s
}

.select-selected.select-arrow-active:after {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg)
}

.select-items div {
  display: flex;
  align-items: center;
  color: #000;
  height: 28px;
  padding: 0 1rem;
  user-select: none;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  font-size: 14px;
  z-index: 99;
  line-height: 17px;
}

.select-items, .select-items div {
  cursor: url(./hand-kursor.svg), auto;
  text-overflow: ellipsis;
}

.select-items {
  display: flex;
  position: absolute;
  flex-direction: column;
  background-color: #fff;
  color: #000 !important;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 100;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.select-hide {
  display: none;
}

.same-as-selected, .select-items div:hover {
  background-color: #ef483e;
}


.checkbox {
  position: relative;
  height: 24px;
  width: 24px;
  border-radius: 0;
  margin: 1rem .5rem 1rem 0;
  border: 2px solid #fff;
}

.checkbox__input {
  display: none !important
}

.checkbox__label:before {
  content: "";
  position: absolute;
  cursor: url(./hand-kursor.svg), auto;
  z-index: 2;
  pointer-events: none;
}
.checkbox__label:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: url(./hand-kursor.svg), auto;
  z-index: 2;
}
.checkbox__text {
  font-size: 13px;
  line-height: 16px;
  margin-left: 2rem;
}

#temperature {
  display: none
}

.checkbox__input:checked + .checkbox__label:after {
  content: "";
  left: 5px;
  top: 3px;
  width: 8px;
  height: 11px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transition: all 0.5s;
}



.checkbox__input:checked + .checkbox__label:before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #ef483e;
}
.fields-textarea {
  margin: 1rem 0 .5rem
}

.form-fields__textarea {
  display: block;
  height: 80px;
  width: 100%;
  resize: none;
  background: #fff;
  padding: .5rem;
  margin: .5rem 0 0
}

.form-fields__pop-up {
  width: 100%;
  padding: .5rem;
  font-size: 15px;
  line-height: 18px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .1);
  justify-content: center
}

.fields-time, .form-fields__pop-up {
  display: flex;
  background: #4b4b4f;
  align-items: center
}

.fields-time {
  height: 44px;
  margin: 0 0 .3rem;
  padding: 0 .5rem
}

.radio {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}

.fields-time__radio {
  display: none
}

.fields-time__label {
  padding-left: 1rem;
  margin-right: .5rem;
  cursor: url(./hand-kursor.svg), auto
}

.fields-time__label:before {
  top: 8px;
  left: 0;
  width: 16px;
  height: 16px;
  background: #fff;
  text-align: left;
  z-index: 1
}

.fields-time__label:after, .fields-time__label:before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%
}

.fields-time__label:after {
  left: 4px;
  top: 12px;
  width: 8px;
  height: 8px;
  background: #343539;
  z-index: 2
}

.fields-time__radio:checked ~ .fields-time__label:before {

  background: #ef483e;
}

.fields-time__radio:checked ~ .fields-time__text {
  opacity: 1
}

.fields-time__address {
  margin-right: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 15px;
  line-height: 19px
}

.fields-time__text {
  background: #717174;
  padding: .5rem;
  border-radius: 2px;
  opacity: .3;
  text-transform: uppercase;
  letter-spacing: .05em;
  font-size: 13px;
  line-height: 16px
}

.fields-label {
  display: flex;
  width: 100%;
  margin: 1rem 0 .5rem .5rem
}

@media (min-width: 320px) and (max-width: 767.98px) {
  .page__inner {
    padding: 1rem;
    margin: 0 auto
  }
  .page__title {
    font-size: 28px
  }
  #danger {
    display: none
  }
  .form__fields-cargo {
    width: 100%;
    flex-direction: column
  }
  .form-inner, .form__fields-cargo {
    display: flex;
    justify-content: center
  }
  .form-inner {
    align-items: center
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .page__inner {
    padding: 1rem;
    margin: 0 auto
  }
  .page__title {
    font-size: 32px;
    line-height: 40px
  }
  .checkbox__label {
    margin-left: 0.5rem;

  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .page__inner {
    padding: 1rem;
    margin: 0 auto 0 170px
  }
  .select-selected {
    max-width: 347px;

  }
}

@media (min-width: 1200px) {
  .page__inner {
    padding: 1rem;
    margin: 0 auto 0 170px
  }
}